/*Seccion para importar archivos externos*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*Estilo general de la pagina template.html*/
*{
    font-family: 'Rubik', sans-serif; 
}

/*Estilo para la parte del header*/
header{
    display: flex;
    justify-content: center;
    background-color: #c0fdff;
    width: 100%;
    max-width: 100%;
}

.imagen-header{
    width: 70px;
}
.h1-estilo{
   justify-content: center;
   font-size: 35px;
   
}

/*Estilo para la parte de la navegacion*/
nav{
    display: flex;
    justify-content: center;
  
  
}
nav ul,li,a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
   
}

nav li{
    padding: 1em;
    list-style-type: none;
}

nav a{
    color: black;
    
}

a:hover{
    color: #bc8a5f;
    padding: 1em;
    transition: 1s ease;
}


/*Estilo para el body*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
   
    
}
.container-dos{
    display: flex;
    background-color: #f5f3f4;
    margin: auto;
    width: 900px;
    height: 600px;
    padding: 100px;
    max-width: 100%;
}
footer{
    text-align: center;
    margin-top: auto;
    background-color:#c0fdff;
    padding: 1.3em;    
    max-width: 100%;
    font-size: 20px;
}

